@model WebApp1.Models.user

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username
        </dt>

        <dd>
            @{
                if (!string.IsNullOrWhiteSpace(Model.username))
                {
                    @Html.DisplayFor(model => model.username)
                }
            }
        </dd>

        <dt>
            First Name
        </dt>

        <dd>
            @{
                if (!string.IsNullOrWhiteSpace(Model.fname))
                {
                    @Html.DisplayFor(model => model.fname)
                }
            }
        </dd>

        <dt>
            Last Name
        </dt>

        <dd>
            @{
                if (!string.IsNullOrWhiteSpace(Model.lname))
                {
                    @Html.DisplayFor(model => model.lname)
                }
            }
        </dd>

        <dt>
            Address
        </dt>

        <dd>
            @{
                if (!string.IsNullOrWhiteSpace(Model.address))
                {
                    @Html.DisplayFor(model => model.address)
                }
            }
        </dd>

        <dt>
            Birthday
        </dt>

        <dd>

            @{
                if (Model.dob.HasValue)
                {
                    @String.Format("{0:MMMM dd, yyyy}", Model.dob)
                }
            }
        </dd>

        <dt>
            Avatar
        </dt>

        <dd>
            @{
                if (!string.IsNullOrWhiteSpace(Model.pic))
                {
                    <img src="@Url.Content(Model.pic)" alt="Not found" width="200" height="200" />
                }
                else
                {
                    <img src="@Url.Content("~/Images/placeholder.jpg")" alt="Alternate Text" width="80" height="80" />
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
